@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppinsl';
    src: url(Poppins/Poppins-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("Images/Background.png");
    background-size: cover;
    overflow-x: hidden;
    height: 8vh;
}
.title{
    color: white;
    font-size: 67px;
    text-align: left;
    position: absolute;
    margin-left: 28%;
    margin-top: 16%;
}
.logo{
    position: absolute;
    margin-left: 68px;
    margin-top: 17px;
    z-index: 20;
}
.topNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 20px;
    z-index: 20;
}
.topNav li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.topNav li a:hover{
    color: rgb(0, 140, 255);
}
.bottomNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 80px;
    z-index: 100;
}
.bottomNav li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.bottomNav li a img{
    width: 20px;
}
.bottomNav li a:hover{
    text-decoration: underline rgb(0, 140, 255) 3px;
    color: rgb(0, 140, 255);
}
.select{
    background: white;
    border-radius: 30px;
    width: 800px;
    height: 70px;
    position: absolute;
    margin-top: 550px;
    margin-left: 520px;
}
.los{
    position: absolute;
    margin-left: 350px;
    margin-top: 5px;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    padding-right: 350px;
    appearance: none;  
    font-family: 'Poppinsl';
    background: transparent;
}
.sub{
    background: transparent;
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
    width: 200px;
    border: none;
    border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    padding-right: 280px; 
    appearance: none;  
    font-family: 'Poppinsl';
}
.search{
    position: absolute;
    width: 50px;
    margin-top: 560px;
    margin-left: 1250px;
    background: rgb(0, 115, 255);
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;
}
.search:hover{
    background: rgb(0, 85, 255);
    cursor: pointer;
}
.sideButtons{
    position: fixed;
    width: 120px;
    background-color: rgb(0, 102, 255);
    color: white;
    margin-left: 1830px;
    transform: rotate(-90deg);
    margin-top: 200px;
    padding: 1px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 1000;
}
#sideButtons2{
    margin-top: 330px;
}
.sideButtons:hover{
    background-color: rgba(0, 110, 255, 0.696);
}
.select h3{
    color: rgba(88, 88, 88, 0.596);
    position: absolute;
    margin-top: 35px;
    font-size: 15px;
    margin-left: 60px;
    font-weight: lighter;
    font-family: 'Poppinsl';
}
.select .h32{
    margin-left: 360px;
}
.subTxt{
   position: absolute;
    margin-left: 50px;
    font-size: 14px;
    z-index: 2;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    appearance: none;  
    font-family: 'Poppinsl';
}
.subTxt2{
    position: absolute;
    margin-left: 350px;
    font-size: 14px;
    z-index: 2;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    appearance: none;  
    font-family: 'Poppinsl';
}
.downArrow{
    position: absolute;
    margin-left: 315px;
    margin-top: 20px;
}
.downArrow2{
    position: absolute;
    margin-left: 670px;
    margin-top: 20px;
}
.dropdown{
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 0px; 
    /* 150 */
    z-index: 6;
    transition: 0.5s;
}
.dropdown2{
    background: rgb(243, 243, 243);
    position: absolute;
    width: 100%;
    height: 0px;
    /* 700 */
    z-index: 5;
    transition: 0.5s;
}
.closedropdownhitbox{
    background-color: none;
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 600px;
}
#studyDropdown2 ul{
    z-index: 20;
    visibility: hidden;
    position: absolute;
    margin-top: 140px;
    font-size: 16px;
    list-style: none;
    margin-left: 15px;
    border-right: 1px solid rgb(196, 196, 196);
   
}
#studyDropdown2 ul li{
    margin-top: 10px;
    
}
#studyDropdown2 ul li img{
    position: absolute;
    margin-top: -55px;
    width: 20px;
    margin-left: 450px
    
}
#studyDropdown2 ul li a {
    display: inline-block;       /* needed to control width */
    width: 500px;                /* fixed width for all links */
    color: rgb(18, 18, 18);
    text-decoration: none;       /* remove default underline */
    border-bottom: 1px solid rgb(207, 207, 207); /* custom underline */
    padding: 20px 20px;
    background-color: rgb(243, 243, 243);
    text-align: left;          /* optional: center text in fixed width */
}
#studyDropdown2 ul li a:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}
#studyDropdownul{
    z-index: 100;
}
#coursesDropDown{
    z-index: 1;
    
}
#coursesDropDown li{
    z-index: 20;
    margin-left: 500px;
}
#scholarshipsDropDown{
    z-index: 1;
    
}
#scholarshipsDropDown li{
    z-index: 20;
    margin-left: 500px;
}
#APU-DMUDropDown{
    z-index: 1;
}
#APU-DMUDropDown li{
    z-index: 20;
    margin-left: 500px;
}
#universityDropdown li{
    z-index: 20;
    margin-left: 500px;
}
#awardsDropdown li{
     z-index: 20;
    margin-left: 500px;
}
#sustainDropdown li{
    z-index: 20;
    margin-left: 500px;
}
#lifeDropdown2{
    z-index: 3;
}
#lifeDropdownul{
    position: absolute;
    z-index: 1000;
}
#lifeDropdownul li{
    z-index: 1000;
}
#residenceul{
    position: absolute;
    z-index: 2;
}
#residenceul li{
    z-index: 1;
    margin-left: 500px;
}
#transportul li{
    margin-left:500px; 
}
#lifeDropdown2{
    z-index: 3;
}
#connectDropdown2{
    z-index: 3;
}
#InternationalDropdownul li{
    margin-left: 500px;
}
.about{
    position: absolute;
    margin-top: 1000px;
    background: white;
    width: 100%;
    height: 550px;
}
.about img{
    position: absolute;
    margin-left: 400px;
    height: 600px;
    margin-top: -49px;
}
.abtText{
    position: absolute;
    margin-left: 900px;
    margin-top: 100px;
    width: 400px;
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(0, 102, 255);
}
.about h1{
    position: absolute;
    margin-left: 900px;
    margin-top: 130px;
    font-size: 40px;
}
.abtPara{
    position: absolute;
    margin-left: 900px;
    margin-top: 270px;
    text-align: justify;
    width: 400px;
    font-size: 14px;
    color: rgb(88, 88, 88);
}
.about button{
    position: absolute;
    margin-left: 900px;
    margin-top: 430px;
    padding: 10px 20px;
    background-color: rgb(0, 102, 255);
    color: white;
    border: none;
    border-radius: 22px;
    font-size: 18px;
    transition: 0.2s;
}
.about button:hover{
    background-color: rgb(0, 81, 187);
    cursor: pointer;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
.reason{
    position: absolute;
    margin-top: 1550px;
    width: 100%;
    height: 481px;
    background-color: rgb(243, 243, 243);
}
.reason h3{
    text-align: center;
    padding-top: 50px;
    font-size: 23px;
}
.reason h4{
    margin-top: 20px;
    color: rgb(103, 103, 103);
    text-align: center;
    font-family: 'Poppinsl';
}
.reasonsUl {
  display: flex;
  justify-content: center; /* centers items horizontally */
  gap: 100px;
  margin-top: 80px;
  margin-left: 400px;
  width: 1000px;
  overflow: hidden;
}

.reasonsUl li {
  display: flex;
  flex-direction: column;  /* image on top, text below */
  align-items: center;     /* centers image + text */
  text-align: center;
  width: 250px;           /* optional: set a fixed width for each item */
}
.reasonsUl li h5{
    margin-top: 10px;
    font-size: 16px;
    color: rgb(88, 88, 88);
}
.reasonsUl li img{
    width: 80px;
}
.BlueArrowLeft{
    position: absolute;
    margin-top: -120px;
    margin-left: 290px;
    width: 50px;
    transition: 0.3s;
}
.BlueArrowLeft:hover{
    position: absolute;
    margin-top: -130px;
    margin-left: 290px;
    width: 60px;
    cursor: pointer;
}

.BlueArrowRight{
    position: absolute;
    margin-top: -120px;
    margin-left: 1470px;
    width: 50px;
    transition: 0.3s;
}
.BlueArrowRight:hover{
    position: absolute;
    margin-top: -130px;
    margin-left: 1470px;
    width: 60px;
    cursor: pointer;
}
.msgBtn{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: rgb(15, 0, 111);
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    transition: 0.3s;
}
.msgBtn:hover{
    background-color: rgb(0, 81, 187);
    cursor: pointer;
}
.msgBtn img{
    width: 30px;
    margin-top: 15px;
    margin-left: 15px;
}
.imgBanners img{
    width: 1200px;
    align-items: center;
}
.imgBanners{
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    position: absolute;
    margin-top: 2000px;
    margin-left: 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}
.counsellors{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 1800px;
    margin-top: 4000px;
}
.particlesCounsellors1{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.particlesCounsellors2{
    position: absolute;
    margin-top: 1000px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.particlesCounsellors3{
    position: absolute;
    width: 100%;
    margin-top: 1300px;
    background-color: rgb(255, 255, 255);
}
.counsellorImg{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: 300px;
    margin-top: 120px;
    width: 1300px;
    list-style: none;
}
.counsellorImg img{
   filter:brightness(60%);
   position: relative;
   border-radius: 20px;
   transition: 0.5s;
   margin-bottom: 40px;
}
.counsellorImg img:hover{
   filter:brightness(100%);
   position: relative;
   border-radius: 20px;
}
.counsellorImg h5{
    position: absolute;
    font-family: 'Poppinsl';
    color: rgba(78, 78, 78, 0.759);
    letter-spacing: 3px;
    font-size: 14px;
    margin-top: -25px;
    z-index: 100;
}
.counsellorImg span{
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}
.counsellorImg .phone{
    color: rgb(0, 102, 255);
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgBanners2 img{
    width: 1200px;
    align-items: center;
}
.imgBanners2{
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    position: absolute;
    margin-top: 6250px;
    margin-left: 0px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 200px;
}
.footerImg{
    position: absolute;
    margin-top: 7780px;
    width: 100%;
    filter: brightness(40%);   
}
.firstFooter h3{
    position: absolute;
    margin-top: 7900px;
    margin-left: 400px;
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 2;
}
.firstFooter h4{
    position: absolute;
    margin-top: 7870px;
    margin-left: 400px;
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 2;
}
.footerSubjects{
    position: absolute;
    margin-top: 7880px;
    display: flex;
    gap: 60px;
    margin-left: 1000px;
    flex-direction: column;
    list-style: none;
    height: 600px;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.footerSubjects li{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 1;
    width: 500px;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    transition: 0.3s;
}
.footerSubjects li:hover{
    background-color: rgba(255, 255, 255, 0.176);
    padding-bottom: 25px;

   
}
.newsTxt{
    position: absolute;
    margin-left: 270px;
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 2;
    color: rgb(0, 102, 255);
}
.news{
    position: absolute;
    width: 100%;
    height: 90vh;
    background-color: rgb(241, 241, 241);
    margin-top: 8550px;
}
.newsTxt2{
    position: absolute;
    margin-left: 270px;
    margin-top: 65px;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 10;
    font-family: 'Verdana';
}
.newsUL{
    position: absolute;
    display: flex;
    gap: 40px;
    margin-left: 340px;
    margin-top: 180px;
    list-style: none;
}
.newsUL li img{ 
    width: 250px;
    border-radius: 20px;
    filter: brightness(80%);
    transition: 0.3s;
}
.newsUL li p{ 
    width: 250px;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(88, 88, 88);
}
.newsUL li p span{ 
    width: 250px;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(0, 106, 255);
}
.newsUL li img:hover{ 
    width: 260px;
    border-radius: 20px;
    filter: brightness(100%);
    transition: 0.3s;
}
.ViewAll{
    position: absolute;
    text-decoration: none;
    margin-left: 840px;
    margin-top: 720px;
    padding: 10px 20px;
    background-color: rgb(0, 102, 255);
    color: white;
    border: none;
    border-radius: 22px;
    font-size: 18px;
    transition: 0.1s;
}
.ViewAll:hover{
    background-color: rgb(0, 81, 187);
    cursor: pointer;
}