@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppinsl';
    src: url(Poppins/Poppins-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.561), rgba(0, 0, 0, 0.533)), url("Images/Background.jpeg");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.title{
    color: white;
    font-size: 67px;
    text-align: left;
    position: absolute;
    margin-left: 28%;
    margin-top: 16%;
}
.logo{
    position: absolute;
    margin-left: 68px;
    margin-top: 17px;
    z-index: 20;
}
.topNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 20px;
    z-index: 20;
}
.topNav li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.topNav li a:hover{
    color: rgb(0, 140, 255);
}
.bottomNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 80px;
    z-index: 100;
}
.bottomNav li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.bottomNav li a img{
    width: 20px;
}
.bottomNav li a:hover{
    text-decoration: underline rgb(0, 140, 255) 3px;
    color: rgb(0, 140, 255);
}
.select{
    background: white;
    border-radius: 30px;
    width: 800px;
    height: 70px;
    position: absolute;
    margin-top: 550px;
    margin-left: 520px;
}
.los{
    position: absolute;
    margin-left: 350px;
    margin-top: 5px;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    padding-right: 350px;
    appearance: none;  
    font-family: 'Poppinsl';
    background: transparent;
}
.sub{
    background: transparent;
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
    width: 200px;
    border: none;
    border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    padding-right: 280px; 
    appearance: none;  
    font-family: 'Poppinsl';
}
.search{
    position: absolute;
    width: 50px;
    margin-top: 560px;
    margin-left: 1250px;
    background: rgb(0, 166, 255);
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
}
.sideButtons{
    position: fixed;
    width: 120px;
    background-color: rgb(0, 102, 255);
    color: white;
    margin-left: 1840px;
    transform: rotate(-90deg);
    margin-top: 200px;
    padding: 1px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}
#sideButtons2{
    margin-top: 330px;
}
.sideButtons:hover{
    background-color: rgba(0, 110, 255, 0.696);
}
.select h3{
    color: rgba(88, 88, 88, 0.596);
    position: absolute;
    margin-top: 35px;
    font-size: 15px;
    margin-left: 60px;
    font-weight: lighter;
    font-family: 'Poppinsl';
}
.select .h32{
    margin-left: 360px;
}
.subTxt{
   position: absolute;
    margin-left: 50px;
    font-size: 14px;
    z-index: 2;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    appearance: none;  
    font-family: 'Poppinsl';
}
.subTxt2{
    position: absolute;
    margin-left: 350px;
    font-size: 14px;
    z-index: 2;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    appearance: none;  
    font-family: 'Poppinsl';
}
.downArrow{
    position: absolute;
    margin-left: 315px;
    margin-top: 20px;
}
.downArrow2{
    position: absolute;
    margin-left: 670px;
    margin-top: 20px;
}
.dropdown{
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 0px; 
    /* 150 */
    z-index: 6;
    transition: 0.5s;
}
.dropdown2{
    background: rgb(243, 243, 243);
    position: absolute;
    width: 100%;
    height: 0px;
    /* 700 */
    z-index: 5;
    transition: 0.5s;
}
.closedropdownhitbox{
    background-color: none;
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 600px;
}
#studyDropdown2 ul{
    z-index: 20;
    visibility: hidden;
    position: absolute;
    margin-top: 140px;
    font-size: 16px;
    list-style: none;
    margin-left: 15px;
    border-right: 1px solid rgb(196, 196, 196);
   
}
#studyDropdown2 ul li{
    margin-top: 10px;
    
}
#studyDropdown2 ul li img{
    position: absolute;
    margin-top: -55px;
    width: 20px;
    margin-left: 450px
    
}
#studyDropdown2 ul li a {
    display: inline-block;       /* needed to control width */
    width: 500px;                /* fixed width for all links */
    color: rgb(18, 18, 18);
    text-decoration: none;       /* remove default underline */
    border-bottom: 1px solid rgb(207, 207, 207); /* custom underline */
    padding: 20px 20px;
    background-color: rgb(243, 243, 243);
    text-align: left;          /* optional: center text in fixed width */
}
#studyDropdown2 ul li a:hover {
    background-color: rgb(0, 102, 255);
    color: white;
}
#studyDropdownul{
    z-index: 100;
}
#coursesDropDown{
    z-index: 1;
    
}
#coursesDropDown li{
    z-index: 20;
    margin-left: 500px;
}
#scholarshipsDropDown{
    z-index: 1;
    
}
#scholarshipsDropDown li{
    z-index: 20;
    margin-left: 500px;
}
#APU-DMUDropDown{
    z-index: 1;
}
#APU-DMUDropDown li{
    z-index: 20;
    margin-left: 500px;
}
