@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.561), rgba(0, 0, 0, 0.533)), url("Images/Background.jpeg");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.title{
    color: white;
    font-size: 67px;
    text-align: left;
    position: absolute;
    margin-left: 28%;
    margin-top: 16%;
}
.logo{
    position: absolute;
    margin: 50px;
}
.topNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 20px;
}
.topNav li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.topNav li a:hover{
    color: rgb(0, 140, 255);
}
.bottomNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 80px;
}
.bottomNav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}