@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppinsl';
    src: url(Poppins/Poppins-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.561), rgba(0, 0, 0, 0.533)), url("Images/Background.jpeg");
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.title{
    color: white;
    font-size: 67px;
    text-align: left;
    position: absolute;
    margin-left: 28%;
    margin-top: 16%;
}
.logo{
    position: absolute;
    margin: 50px;
}
.topNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 20px;
}
.topNav li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.topNav li a:hover{
    color: rgb(0, 140, 255);
}
.bottomNav{
    position: absolute;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 75%;
    margin-top: 80px;
}
.bottomNav li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.bottomNav li a img{
    width: 20px;
}
.bottomNav li a:hover{
    text-decoration: underline rgb(0, 140, 255) 3px;
    color: rgb(0, 140, 255);
}
.select{
    background: white;
    border-radius: 30px;
    width: 800px;
    height: 70px;
    position: absolute;
    margin-top: 550px;
    margin-left: 520px;
}
.los{
    position: absolute;
    margin-left: 350px;
    margin-top: 5px;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;  
    appearance: none;  
    font-family: 'Poppinsl';
}
.sub{
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
    width: 200px;
    border: none;
     border: none;             /* removes default border */
    outline: none; 
    padding: 10px;   
    appearance: none;  
    font-family: 'Poppinsl';
}
.search{
    position: absolute;
    width: 50px;
    margin-top: 560px;
    margin-left: 1250px;
    background: rgb(0, 166, 255);
    padding: 10px;
    border-radius: 50%;
}
.sideButtons{
    position: fixed;
    width: 120px;
    background-color: rgb(0, 102, 255);
    color: white;
    margin-left: 1840px;
    transform: rotate(-90deg);
    margin-top: 200px;
    padding: 1px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}
#sideButtons2{
    margin-top: 330px;
}
.sideButtons:hover{
    background-color: rgba(0, 110, 255, 0.696);
}
.select h3{
    color: rgba(88, 88, 88, 0.596);
    position: absolute;
    margin-top: 35px;
    font-size: 15px;
    margin-left: 60px;
    font-weight: lighter;
    font-family: 'Poppinsl';
}
.select .h32{
    margin-left: 360px;
}